.three-main-body {
	width: 70%;
	margin: 0 auto;

}
.navbar {
	position: fixed;
	width: 100%;
	border-radius: 0px;
	z-index: 2;
}
.three-main-body img {
	position: relative;
	z-index: 1;
}

.about {
	background-color: black;
	color: white;
	text-align: center;
	padding: 100px 30px;
	height: 600px;
}
.about img {
	width: 30%;
	margin: 0 auto;
	border-radius: 50%;

}

.contact {
	text-align: center;
	background-color: #FF1493;
	padding: 20px;
	height: 400px;
}

.contact img {
	width: 10%;
	height: 10%;
}
