.three-main-body {
	width: 70%;
	margin: 0 auto;

}
.about {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}
.about img {
	width: 70%;
	margin: 0 auto;
}

.contact {
	text-align: center;
	background-color: #FF1493;
	padding: 20px;
}

.contact img {
	width: 10%;
	height: 10%;
}
